fastapi
uvicorn
httpx
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-exporter-otlp
prometheus-fastapi-instrumentator
python-json-logger
python-logging-loki
asyncpg
psycopg2-binary
sqlalchemy
